NEXT_PUBLIC_APP_URL=http://localhost:3000

# Admin
ADMIN_PASSWORD=troque-esta-senha
ADMIN_SECRET=gere-uma-string-longa-aleatoria

# Cloudinary
CLOUDINARY_CLOUD_NAME=seu-cloud-name
CLOUDINARY_API_KEY=sua-api-key
CLOUDINARY_API_SECRET=sua-api-secret

# Neon Postgres
DATABASE_URL=postgresql://usuario:senha@host/neondb?sslmode=require
